/*           ADMIN PANEL           *//*				LOGIN PAGE			*/
html{
   height: 100%;
}
body{
   height: 100%;
}
.adminbackGround{background:none; width:1100px;  margin:0 auto;}
.adminmainBlock{  background:none;min-height:423px; width:100%;  margin:0 auto; color:#000000; font-family:'calibri';}
.adminBlock{ width:100%; padding-bottom:10px; text-align:center; margin: 0 auto;}
.loginHead{ float:right !important;}
.adminBlock h1{font-size:40px;}
.adminBlock h3{font-size:30px;text-align:center;}
.adminBlock h6{ text-align:right; font-style:italic;}
.adminformTxt{  font-size:14px; color:#444444; padding-top:10px; width:130px; margin-left:18px;}

.adminformDivHeight{ height:38px; text-align:left;width:800px}
.adminformDivHeightTxt{ font-size:12px; text-align:right; color:#999999; width:321px; font-style:italic; margin-top:3px; padding-bottom:20px;}
.adminformTxtBox{ height: 18px; margin-left:8px; margin-top:8px; padding:1px 3px; width: 195px; border:none; font-size:14px; float:left; }
.adminformTxtBoxArea{ height: 100px; margin-left:14px; margin-top:12px; padding:1px 3px; width: 400px; border:none; font-size:14px; float:left; }
.forgetPassword{ color:#434343; text-decoration:none; text-align:left; margin-top:10px; float:left;  font-size:14px;}
.forgetPassword a{ color:#434343; text-decoration:none;}
.forgetPassword a:hover{color:#177ddd; text-decoration:underline;}
.submitButton1{ margin-right:20px;}
.adminSubmitButton{background:url(../img/btn3_blank.png) no-repeat; width:102px; height:30px; font-size:14px; text-align:center; color:#FFFFFF; padding:6px 30px 8px 2px; font-weight:bold; border:none; cursor:pointer; text-align:center; }
.changerPassword{ font-size:16px; padding-bottom:10px; float:left; width:100%; text-align:left; color:#434343; font-weight:bold ; padding-left:13px;}
/*						update     */		
.ManageDiv{ width:350px; margin-left:50px;}
.manageTxt{ text-align:left; font-size:18px; padding:8px 0;}
.UserTxt{ text-align:right; font-size:18px; padding:8px 0;}
.adminform{ margin:0 auto;  width:805px; margin-left:125px;}
.adminBlockTop{ padding-top:5px; width:100%;}
.logout{ color:#434343; text-decoration:none; margin-left:2px;}
.logout a{ color:#434343; text-decoration:none;}
.logout a:hover{ color:#434343; text-decoration:underline;}
.button {	margin:auto; float:left; margin-top:10px;}
.buttonHover{ border:1px solid #434343; color:#434343; width:150px; float:left; margin-left:75px; padding:5px 0;}
.menu_class {	border:1px solid #1c1c1c; }
.the_menu {	display:none; width:144px; border:1px solid #1c1c1c; margin-left:75px; margin-top:30px; padding:5px 3px; background-color:#302f2f; line-height:30px;z-index:10;position:absolute;text-align:left;font-size:15px;}
.the_menu li {	background-color: #302f2f;}
.the_menu li a{	color:#FFFFFF; text-decoration:none; display:block;}
.the_menu li a:hover{ color:#FFFFF;}
.adminform dl{ padding:0 0 10px 62px;}
.adminform dl dd { width:150px; float:left;  text-align:left; line-height:28px;}
.adminform dl dt{ width:272px; float:right; text-align:left; line-height:28px;}
.productFormDiv{	border:1px solid #dddddd; 	-moz-border-radius: 15px; 	border-radius: 15px; 	width:750px; 		background:url(../img/admin_back.png); 	margin-bottom:10px;	padding:0px 100px 10px 125px;	}
.productFormDiv dl{color:#000000;}
.productFormDiv dl dd { width:150px; float:left;  text-align:left; line-height:28px;}
.productFormDiv dl dt{ width:450px; float:right; text-align:left; line-height:28px;}
.tabularDiv{ color:#000000;width:100%}
 .tabularDiv table{border:1px solid;color:#000000;width:100%;}
.tabularDiv table td{padding:15px 0 15px 5px; text-align:left;vertical-align: top;min-height:18px;}
.tabularDiv table th{padding:10px 0 5px 5px; border-bottom: 1px solid #DDDDDD;text-align:left;vertical-align: top;height:30px;}
.tabularDiv  table tr{	background:#ffffff;	border-bottom: 1px solid #DDDDDD;}
.tabularDiv  table tr.altrow {padding:0 0 0 5px;text-align:left;border-bottom: 1px solid #DDDDDD;background:none repeat scroll 0 0 #F5F5F5;}
.tabularDiv table td a {text-decoration:none;color:#000000;}
.tabularDiv table td a:hover {text-decoration:underline;color:#000000;}
.tabularDiv table td span{ display: block;    float: none;    height: 32px;    margin: 0 auto;    width: 72px;}
.tabularDiv p{background:#000000;width:95%; margin-top:5px;color:#ffffff}
.tabularDiv .paging{background:#000000;width:95%;color:#ffffff;}
.tabularDiv .paging span a{color:#ffffff;}
.tabularDiv h1{ text-align:left !important; margin:0px; padding:0px;}
.tabularDiv .top{ padding:12px 0px; font-size:16px; text-align:left;}
.tabularDiv	.bottom { padding:3px 0; margin-top:5px;}
.submitButton1{ margin-right:20px;}
.submitButton1 a{ text-decoration:none;font-size:14px;font-weight:bold;padding: 6px 30px 8px 2px;    text-align: center;    width: 102px;}
.inputTextAreaBlue{	 background: url("../img/inputTextArea.png") no-repeat scroll 0 0 transparent;    height: 160px;    width: 440px;}
.inputTextAreaRed{	 background: url("../img/inputTextAreaError.png") no-repeat scroll 0 0 transparent;    height: 160px;    width: 440px;}
.firstStep{ width:150px;}
.CreadtedOn{ width:150px;}
.action{ width:212px;}
.pickTopFive{ width:150px;}
.emailPickTop { width:195px;}
.error{background:url(../img/inputcolor.png) no-repeat; width:240px; height:37px;}
.error-message{ 
	background:url(../img/alert.png) no-repeat; 
	width:186px; 
	height:37px; 
	font-size:12px; 
	color:#ff0000;
	margin-left: 250px;
    margin-top: -30px;
	float:left;
	padding: 12px 0 0;
	text-align: center;
	font-family: "Trebuchet MS";
}

.blackCol{ color:#000000;}
.mright20{ padding-right:37px;}
.mright27{ margin-right:27px; padding-top:5px;}
.mright28{ margin-right:27px; padding-top:5px;}
.width50{width:50px;}
.width60{width:60px;}
.width70{width:70px;}
.width100{width:100px;}
.width150{width:150px;}
.width200{width:200px;}
.width220{width:220px;}
.width250{width:250px;}
.width350{width:350px;}
.width300{width:300px;}
.lpad28{padding-left:28px;}
.lpad22{padding-left:22px;}
.lpad5{padding-left:5px;}
