* {
	margin: 0px;
	padding: 0px;
}

img{ border:none;}

body{
			font:14px/20px 'Helvetica', Arial, sans-serif;
			min-width:600px;
			margin:0;
			/*padding:75px 0 0 0;*/
			text-align:center;
		}
		.clr { clear: both;}
		p{
			padding:0 0 10px 0;
		}
		textarea{
			font:12px/18px 'Helvetica', Arial, sans-serif;
		}
		h2{
			font-size:22px;
			line-height:28px;
			margin:0 0 10px 0;
		}
		h3{
			margin:0 0 5px 0;
			padding:0;
		}
		.headerBar{
			background:none;
			padding:0;
			border:none;
		}
		.wrapper{
			width:600px;
			margin:0 auto 10px auto;
			text-align:left;
		}
		.container{
			position:relative;
			border-width:0 !important;
			border-color:transparent !important;
			margin:0;
			text-align:left;
			-moz-box-shadow:2px 2px 4px rgba(0,0,0,0.1);
			-webkit-box-shadow:2px 2px 4px rgba(0,0,0,0.1);
			box-shadow:2px 2px 4px rgba(0,0,0,0.1);
		}
		.tpl-image-content{
			padding-left:20px;
		}
		fieldset{
			padding:10px;
			background-color:#ddd;
			border:1px solid #ccc;
		}
		label{
			float:none;
			clear:both;
			display:block;
			width:auto;
			margin-top:8px;
			text-align:left;
			font-weight:bold;
			position:relative;
		}
		
		.mc-field-group{
			float:none;
			/*margin:3px 0 15px 0;
			padding:5px;*/
			border-style:solid;
			background:-moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .25));
			background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(255, 255, 255, 0)),color-stop(1, rgba(255, 255, 255, .25)));
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#3fffffff');
			-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#3fffffff')";
			margin:0 5% 0 3%; float:left; border:1px solid red; width:350px;  /*		UPDATE  (19/8/2011)		*/
		}
		.mc-field-group input{
			display:block;
			margin:0;
			padding:5px;
			border:0;
			background:none;
			width:98%;
		}
		.radiogroup input,.phonearea input,.addressfield input,.datefield input,.groups input{
			width:auto;
		}
		.mc-field-group label{
			clear:none;
		}
		.mc-field-group textarea{
			background:none;
			border:none;
			width:525px;
			height:150px;
			margin:0;
			overflow:auto;
		}
		.field-help{
			display:none;
			font-weight:normal;
			position:static;
			float:none;
			clear:both;
			margin:5px -5px -5px -5px;
			width:auto;
			padding:8px 10px;
			line-height:16px;
			font-size:12px;
			-moz-border-radius:0;
			border-radius:0;
			-webkit-border-radius:0;
		}
		.field-help .help{
			min-height:16px;
			text-decoration:none;
		}
		.mc-field-group .feedback br{
			display:none;
		}
		.mc-field-group .feedback div{
			margin:0 !important;
			padding:0 !important;
		}
		.indicates-required{
			text-align:right;
		}
		.indicates-required span{
			font-size:150%;
			font-weight:bold;
		}
		label .asterisk{
			position:absolute;
			top:36px;
			right:10px;
			font-size:30px;
		}
		.error,.errorText{
			margin:5px 0 0 0;
			padding:5px 10px;
		}
		.formstatus{
			margin-bottom:10px;
		}
		.alert{
			background:#e4f3d4;
			border:2px solid #5ca000;
			font-size:14px;
			color:#5ca000;
			margin:10px 0;
			padding:10px;
		}
		.alert a{
			color:#5ca000;
			text-decoration:underline;
		}
		.datefield,.phonefield-us{
			padding:5px;
		}
		.datefield input,.phonefield-us input{
			display:inline;
			width:60px;
			margin:0 2px;
			letter-spacing:1px;
			text-align:center;
			padding:5px 0 2px 0;
		}
		.datefield .small-meta{
			font-size:11px;
		}
		.phonefield-us .phonearea input,.phonefield-us .phonedetail1 input{
			width:40px;
		}
		.datefield .monthfield input,.datefield .dayfield input{
			width:30px;
		}
		.datefield label,.phonefield-us label{
			display:none;
		}
		ul.interestgroup_field{
			display:block;
			padding:5px;
			margin:0;
		}
		ul.interestgroup_field li,.interestgroup_row{
			display:block;
			margin:0;
			padding:0;
			list-style:none;
		}
		ul.interestgroup_field input{
			display:inline !important;
			width:auto !important;
		}
		ul.interestgroup_field label{
			display:inline;
			padding:0 30px 0 3px;
			font-weight:normal;
		}
		select{
			width:300px;
			margin:5px;
		}
		ul.unsub-options{
			display:block;
		}
		ul.unsub-options li{
			display:block;
			padding-bottom:5px;
		}
		ul.unsub-options li label{
			display:inline;
			padding-left:5px;
		}
		ul.unsub-options li textarea{
			display:block;
			padding:5px;
			background:#fff;
			border:1px solid #ccc;
			margin:5px 0;
			width:350px;
			height:100px;
		}
		.addressfield span{
			display:block;
			height:34px;
		}
		.addressfield input{
			float:right;
			width:56%;
			margin:0 9% 0 0;
			padding:8px 0 2px 0;
		}
		.addressfield label{
			float:left;
			font-weight:normal;
			text-align:right;
			width:33%;
		}
		.addressfield .countryfield{
			display:block;
			height:45px;
			position:relative;
		}
		.addressfield .countryfield select{
			margin:0;
			position:absolute;
			top:10px;
			left:35%;
		}
		.captcha{
			float:left;
			width:340px;
			height:170px;
		}
		#archive-list{
			display:block;
			margin:15px 0;
			padding:0;
			border-top:1px solid #eee;
		}
		#archive-list li{
			display:block;
			list-style:none;
			margin:0;
			padding:6px 10px;
			border-bottom:1px solid #eee;
		}
		.button,.button-small{
			display:inline-block;
			font-family:'Helvetica', Arial, sans-serif;
			width:auto;
			white-space:nowrap;
			height:32px;
			margin:5px 5px 0 0;
			padding:0 22px;
			text-decoration:none;
			text-align:center;
			font-weight:bold;
			font-style:normal;
			font-size:15px;
			line-height:32px;
			cursor:pointer;
			border:0;
			-moz-border-radius:4px;
			border-radius:4px;
			-webkit-border-radius:4px;
			vertical-align:top;
		}
		.button-small{
			float:none;
			display:inline-block;
			height:auto;
			line-height:18px !important;
			padding:2px 15px !important;
			font-size:11px !important;
		}
		.rounded6{
			-moz-border-radius:6px;
			border-radius:6px;
			-webkit-border-radius:6px;
		}
		.poweredWrapper{
			padding:20px 0;
			width:560px;
			margin:0 auto;
		}
		.poweredBy{
			display:block;
		}
		span.or{
			display:inline-block;
			height:32px;
			line-height:32px;
			padding:0 5px;
			margin:5px 5px 0 0;
		}
		.clear{
			clear:both;
		}
		.tpl-image-content{
			padding-left:0px;
		}
		.profile-list{
			display:block;
			margin:15px 20px;
			padding:0;
			list-style:none;
			border-top:1px solid #eee;
		}
		.profile-list li{
			display:block;
			margin:0;
			padding:5px 0;
			border-bottom:1px solid #eee;
		}
		body{
			-webkit-text-size-adjust:none;
		}
		input{
			-webkit-appearance:none;
		}
		input[type=checkbox]{
			-webkit-appearance:checkbox;
		}
		input[type=radio]{
			-webkit-appearance:radio;
		}
		input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
			-webkit-appearance:none;
			margin:0;
		}
		/*body{
			background-color:#eeeeee;
		}*/
		h1{
			font-size:28px;
			margin-bottom:15px;
			padding:0;
			margin-top:0;
		}
		.wrapper{
			background-color:none;
		}
		.container{
			background-color:#ffffff;
			padding:20px;
		}
		.container{
			line-height:150%;
			font-family:Helvetica;
			font-size:12px;
			color:#333333;
		}
		a:link,a:active,a:visited,a{
			color:#336699;
		}
		.button:link,.button:active,.button:visited,.button,.button-small:link,.button-small:active,.button-small:visited,.button-small{
			background-color:#336699;
			color:#ffffff;
		}
		.button:hover,.button-small:hover{
			background-color:#1e5781;
			color:#ffffff;
		}
		label{
			line-height:150%;
			font-family:Helvetica;
			font-size:14px;
			color:#333333;
		}
		.mc-field-group{
			background-color:#eeeeee;
			border-width:2px;
			border-color:#d0d0d0;
		}
		.datefield input,.phonefield-us input,.addressfield input{
			border-bottom-width:1px;
			border-bottom-style:solid;
			border-color:#999999;
			
		}
		.mc-field-group input{
			font-family:Helvetica;
			font-size:16px;
			color:#333333;
		}
		.asterisk{
			color:#cc6600;
		}
		.field-help{
			background-color:#dcdcdc;
			color:#000;
		}
		.error,.errorText{
			font-size:12px;
			color:#6b0505;
			background-color:#f4bfbf;
		}
		#templateHeader{
			padding:0px;
			background-color:#000000;
		}
		
		
		
.popup{margin:0 auto;width:648px;}
.contactUsPopup{margin:0 auto; width:648px;}

.popupTop{ margin:0 57px}
.popupBottom{margin:0 57px; background:url(../img/bottom_middle.png) repeat-x bottom; margin: 0 53px 0 57px;}
.popupTop{ background:url(../img/top-middle.png) repeat-x bottom;}

.popupBottomLeft,.popupBottomRight{width:57px;height:37px;}

.popupTopLeft,.popupTopRight{ width:57px;height:55px;}
.popupTopLeft{ background:url(../img/top_left.png);}

.popupBottomLeft{ background:url(../img/bottom_left.png) no-repeat;}
.popupBottomRight{ background:url(../img/bottom_right.png) no-repeat;}
.popupBottomLeft{float:left;margin-left:-57px;}
.popupBottomRight{float:right;margin-right:-57px;}

.popupTopLeft{ float:left; margin-left:-57px;}
.popupTopRight{ float:right; margin-right:-57px;}



.popupTopRight{background:url(../img/top_right.png) no-repeat right top; background-position:top;}
/*.popupBottomLeft{background-position:14px 0;}
.popupBottomRight{background-position:-20px 0;}
*/
.popupMid { margin: 0 26px; position:relative;}

.poupmidLeft { background:url(../img/shadow_l.png) repeat-y left; margin-left: -14px}
.poupmidRight { background:url(../img/shadow_r.png) repeat-y right; margin-right: -23px; padding: 0 40px 0 45px;margin-top:-5px;}

.midTop{ background:url(../img/green_box_popup.png) no-repeat; width:579px; height:43px; margin-top:-17px; margin-left:-19px; position:absolute;}
.emailTxt{ font-size:24px; font-weight:bold; font-family:trebuchet MS; color:#FFFFFF; padding:10px 25px; text-align:left;}
.closeButton{ float:right; margin-right:-10px; margin-top:-8px;}



				/*		UPDATE  (19/8/2011)		*/

.mc-field-Div{
	 margin:10px 0 0 0;
}		
.btn{
	 background:url(../img/subscribe.png) no-repeat;
	 width:102px;
	 height:30px;
	 font-size:14px;
	 text-align:center;
	 color:#FFFFFF;
	 padding:5px 20px 8px 0;
	 font-weight:bold;
	 border:none;
	 cursor:pointer;
	 margin:0 0 3% 0;
	 float:right; 
}
.btnOver{
	 background:url(../img/subscribe-highlight.png) no-repeat;
	 width:102px;
	 height:30px;
	 font-size:14px;
	 text-align:center;
	 color:#FFFFFF;
	 padding:5px 20px 8px 0;
	 font-weight:bold;
	 border:none;
	 cursor:pointer;
	 margin:0 0 3% 0;
	 float:right; 
}

.mc-field-email{	
	margin:1% 0 0 1%;
	float:left;
	width:120px;
	text-align:right;
	font-weight: bold;
}
.mc-field-email .Txt{
	margin:.3em 0;
	line-height:1em; text-align:right;
}	
.mc-field-group .email{
	margin-right:1.5em;
	padding: .2em;
	width: 98%;
	float: left; z-index:999;
}
.mc-field-group span
{
	display:inline;background:#FFDCDC; width:335px; height:20px; font-size:12px; color:#ff0000;padding:8px 0 0 15px;float:left;
}
	