.headerSection{ padding:5px 0 0 10px;}
.copyright{ margin-left:-28px;}
.box{ margin:3px 0;}
.resultMidTxt{ vertical-align:text-bottom;}
.costBorder{ width:170px;}
.updateDiv{width:62px; float:left; margin-left:10px;}
.height15{ height:15px;}
.emailcostMiddle ul li{ line-height:16px;text-align:right;}
.copyright{ width:200px; height:15px; text-align:left; color:#aeaeae; margin-left:1px;